<div>
  <h2 class="login-title">S'inscrire</h2>
  <mat-card class="form-card">
    <div class="example-container">
      <form #Signup="ngForm" [formGroup]="signUpForm" (ngSubmit)="onSubmit(Signup.value)">
        <mat-form-field appearance="fill" class="fullWidth">
          <mat-label>Nom de l'entreprise</mat-label>
          <input matInput required type="text" formControlName="nom" name="nom" id="nom" />
          <mat-error *ngIf="signUpForm.controls['nom'].errors?.['required']"> Champ obligatoire </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Domaine d'activité</mat-label>
          <input matInput type="text" formControlName="domaine" name="domaine" id="domaine" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Matricule</mat-label>
          <input matInput type="text" required formControlName="matricule" name="matricule" id="matricule" />
          <mat-error *ngIf="signUpForm.controls['matricule'].errors?.['required']"> Champ obligatoire </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Selctionnez object voyage</mat-label>
          <select matNativeControl required [formControl]="selectFormControl">
            <option label="--selectionnez objet voyage --"></option>
            <option value="semianire">Séminaire</option>
            <option value="visite_entreprise">Visite entreprise</option>
          </select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tel</mat-label>
          <input matInput type="tel" formControlName="tel" name="tel" id="tel" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            required
            formControlName="mdp"
            name="mdp"
            id="mdp"
          />
        </mat-form-field>
        <button mat-flat-button color="primary">S'inscrire</button>
      </form>
      <button
        mat-flat-button
        style="margin-top: 15px"
        color="primary"
        (click)="redirectToLogin()"
      >
        Se connecter
      </button>
    </div>
  </mat-card>
</div>
