<h2 class="login-title">Modifer invitation</h2>
<mat-card class="form-card">
  <div class="example-container">
    <form
      #Signup="ngForm"
      [formGroup]="updateInvitationForm"
      (ngSubmit)="onSubmit(Signup.value)"
    >
      <mat-form-field appearance="fill" class="fullWidth">
        <mat-label>Titre</mat-label>
        <input matInput type="text" formControlName="titre" name="titre" id="titre" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Entreprise</mat-label>
        <input
          matInput
          type="text"
          formControlName="entrepriseinvit"
          name="entrepriseinvit"
          id="entrepriseinvit"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mail</mat-label>
        <input
          matInput
          type="text"
          formControlName="mail"
          name="mail"
          id="mail"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date invitation</mat-label>
        <input
          matInput
          type="text"
          formControlName="dateInvit"
          name="dateInvit"
          id="dateInvit"
        />
      </mat-form-field>
      <button mat-flat-button color="primary">Modifier</button>
    </form>
  </div>
</mat-card>
