/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fullWidth {
    width: 100%;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexColumnFullHeight {
    display: flex;
    flex-direction: column;
    height: 100%
}

.takeTheRest {
    flex-grow: 1;
}

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

